.hero-section {
    background: url('https://img.grouponcdn.com/deal/3PpRtc7sn2xm4JzqSEUFkDxCcFnu/3P-2048x1229/v1/c870x524.jpg') center/cover no-repeat;
}

.content {
    min-height: 440px;
    /* Replace 'your-background-image.jpg' with the actual path to your background image */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    color: #fff;
}

.top-right {
    align-self: flex-end;
}

.left-bottom {
    align-self: flex-start;
}

/* fixed popupbutton for mobile device  */
.popupbutton {
    position: fixed;
    bottom: 20px;
    z-index: 1000;
    margin-bottom: 20px;
}

.Information {
    background: linear-gradient(180deg, #FF5C5C 0%, #F0568A 100%);
    padding: 20px 25px;
}
